# Laoban ignores
.cache/
build/
.env
knowledgearticles/html
knowledgearticles/text
knowledgearticles/tika
knowledgearticles/summary

.session/
.log
.status
.profile
.version.test.txt
.package.details.test.json
.laoban.test.json
target/
target2/
target3/
target4/
target5/
tests/git/org/.git
.DS_Store
Epics_User_Stories_-_Stakeholder_2023-05-30.xlsx

question_directory/
json_directory/

.parcel-cache/

node_modules/
coverage/

.idea/

dist/
build/